{% comment %}
  Renders a list of product's price (regular, sale)

  Accepts:
  - product: {Object} Product Liquid object (optional)
  - placeholder: {Boolean} Renders a placeholder price (optional)
  - use_variant: {Boolean} Renders selected or first variant price instead of overall product pricing (optional)
  - show_badges: {Boolean} Renders 'Sale' and 'Sold Out' tags if the product matches the condition (optional)
  - price_class: {String} Adds a price class to the price element (optional)
  - show_compare_at_price: {Boolean} Renders the compare at price if the product matches the condition (optional)

  Usage:
  {% render 'price', product: product %}
{% endcomment %}

{% style %}
  .review-rating-container {
    height: 30px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    display: none;
    margin-top: 16px;
  }
  .customer-rating-container {
    padding: 6px 10px;
    background: #FBF3EA;
    border-radius: 27px;
    justify-content: flex-start;
    align-items: center;
    gap: 7px;
    display: flex;
  }
  .custom-product-rating {
    color: #D48D3B;
    font-size: 14px;
    font-weight: 500;
  }
  .customer-review-container {
    padding: 6px 10px;
    background: #EDF0F8;
    border-radius: 27px;
    justify-content: flex-start;
    align-items: center;
    gap: 7px;
    display: flex
  }
  .custom-product-reviews {
    color: #3A4980;
    font-size: 14px;
    font-weight: 500;
  }
{% endstyle %}

{%- liquid
  if use_variant
    assign target = product.selected_or_first_available_variant
  elsif placeholder
    assign target = null
  else
    assign target = product
  endif

  assign compare_at_price = target.compare_at_price
  assign price = target.price | default: 1999
  assign price_min = product.price_min
  assign price_max = product.price_max
  assign available = target.available | default: false
  assign money_price = price | money
  assign money_price_min = price_min | money
  assign money_price_max = price_max | money
  if settings.currency_code_enabled
    assign money_price = price | money_with_currency
    assign money_price_min = price_min | money_with_currency
    assign money_price_max = price_max | money_with_currency
  endif

  if target == product and product.price_varies
    assign money_price = 'products.product.price.from_price_html' | t: price: money_price
  endif
-%}

{%- unless target == null and placeholder == null -%}
  <div
    class="
      price
      {%- if price_class %} {{ price_class }}{% endif -%}
      {%- if available == false %} price--sold-out{% endif -%}
      {%- if compare_at_price > price and product.quantity_price_breaks_configured? != true %} price--on-sale{% endif -%}
      {%- if compare_at_price > price and product.quantity_price_breaks_configured? %} volume-pricing--sale-badge{% endif -%}
      {%- if product.price_varies == false and product.compare_at_price_varies %} price--no-compare{% endif -%}
      {%- if show_badges %} price--show-badge{% endif -%}
    "
  >
    <div class="price__container">
      {%- comment -%}
        Explanation of description list:
          - div.price__regular: Displayed when there are no variants on sale
          - div.price__sale: Displayed when a variant is a sale
      {%- endcomment -%}
      <div class="price__regular">
        {%- if product.quantity_price_breaks_configured? -%}
          {%- if show_compare_at_price and compare_at_price -%}
            {%- unless product.price_varies == false and product.compare_at_price_varies %}
              <span class="visually-hidden visually-hidden--inline">
                {{- 'products.product.price.regular_price' | t -}}
              </span>
              <span>
                <s class="price-item price-item--regular variant-item__old-price">
                  {% if settings.currency_code_enabled %}
                    {{ compare_at_price | money_with_currency }}
                  {% else %}
                    {{ compare_at_price | money }}
                  {% endif %}
                </s>
              </span>
            {%- endunless -%}
          {%- endif -%}
          <span class="visually-hidden visually-hidden--inline">{{ 'products.product.price.regular_price' | t }}</span>
          <span class="price-item price-item--regular">
            {{-
              'products.product.volume_pricing.price_range'
              | t: minimum: money_price_min, maximum: money_price_max
            -}}
          </span>
        {%- else -%}
          <span class="visually-hidden visually-hidden--inline">{{ 'products.product.price.regular_price' | t }}</span>
          <span class="price-item price-item--regular">
            {{ money_price }}
          </span>
        {%- endif -%}
      </div>
      <div class="price__sale">
        {%- unless product.price_varies == false and product.compare_at_price_varies %}
          <span class="visually-hidden visually-hidden--inline">{{ 'products.product.price.regular_price' | t }}</span>
          <span>
            <s class="price-item price-item--regular">
              {% if settings.currency_code_enabled %}
                {{ compare_at_price | money_with_currency }}
              {% else %}
                {{ compare_at_price | money }}
              {% endif %}
            </s>
          </span>
        {%- endunless -%}
        <span class="visually-hidden visually-hidden--inline">{{ 'products.product.price.sale_price' | t }}</span>
        <span class="price-item price-item--sale price-item--last">
          {{ money_price }}
        </span>
      </div>
      <small class="unit-price caption{% if product.selected_or_first_available_variant.unit_price_measurement == nil %} hidden{% endif %}">
        <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
        <span class="price-item price-item--last">
          <span>{{- product.selected_or_first_available_variant.unit_price | money -}}</span>
          <span aria-hidden="true">/</span>
          <span class="visually-hidden">&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
          <span>
            {%- if product.selected_or_first_available_variant.unit_price_measurement.reference_value != 1 -%}
              {{- product.selected_or_first_available_variant.unit_price_measurement.reference_value -}}
            {%- endif -%}
            {{ product.selected_or_first_available_variant.unit_price_measurement.reference_unit }}
          </span>
        </span>
      </small>
    </div>
    {%- if show_badges -%}
      <span class="badge price__badge-sale color-{{ settings.sale_badge_color_scheme }}">
        {{ 'products.product.on_sale' | t }}
      </span>
    {%- endif -%}
  </div>
  <div class="review-rating-container">
    <div class="customer-rating-container">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
        <path d="M7.65311 2.33271C7.6813 2.26393 7.72932 2.2051 7.79105 2.16368C7.85279 2.12227 7.92544 2.10016 7.99978 2.10016C8.07411 2.10016 8.14676 2.12227 8.2085 2.16368C8.27023 2.2051 8.31825 2.26393 8.34644 2.33271L9.76311 5.74005C9.78963 5.8038 9.83322 5.85901 9.88909 5.89959C9.94496 5.94017 10.0109 5.96455 10.0798 5.97005L13.7584 6.26471C14.0911 6.29138 14.2258 6.70671 13.9724 6.92338L11.1698 9.32471C11.1174 9.36951 11.0784 9.42785 11.057 9.49335C11.0356 9.55885 11.0326 9.62898 11.0484 9.69605L11.9051 13.286C11.9223 13.3581 11.9178 13.4336 11.8921 13.503C11.8665 13.5725 11.8208 13.6328 11.7609 13.6763C11.7009 13.7198 11.6295 13.7446 11.5555 13.7475C11.4815 13.7504 11.4083 13.7314 11.3451 13.6927L8.19511 11.7694C8.13627 11.7335 8.06869 11.7145 7.99978 11.7145C7.93086 11.7145 7.86328 11.7335 7.80444 11.7694L4.65444 13.6934C4.59128 13.732 4.51808 13.7511 4.44408 13.7482C4.37008 13.7453 4.29861 13.7205 4.23869 13.677C4.17877 13.6335 4.13308 13.5732 4.10741 13.5037C4.08174 13.4342 4.07722 13.3587 4.09444 13.2867L4.95111 9.69605C4.967 9.62898 4.96408 9.55883 4.94267 9.49331C4.92126 9.4278 4.8822 9.36946 4.82978 9.32471L2.02711 6.92338C1.97098 6.87512 1.93038 6.81134 1.91041 6.74007C1.89043 6.66879 1.89198 6.59321 1.91485 6.52281C1.93772 6.45241 1.9809 6.39035 2.03895 6.34443C2.097 6.2985 2.16734 6.27077 2.24111 6.26471L5.91978 5.97005C5.98861 5.96455 6.05459 5.94017 6.11046 5.89959C6.16633 5.85901 6.20992 5.8038 6.23644 5.74005L7.65311 2.33271Z" stroke="#D48D3B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      <div class="custom-product-rating"></div>
    </div>
    <div class="customer-review-container">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
        <path d="M5.75 6.50005C5.75 6.56635 5.72366 6.62994 5.67678 6.67682C5.62989 6.72371 5.5663 6.75005 5.5 6.75005C5.4337 6.75005 5.37011 6.72371 5.32322 6.67682C5.27634 6.62994 5.25 6.56635 5.25 6.50005C5.25 6.43374 5.27634 6.37015 5.32322 6.32327C5.37011 6.27638 5.4337 6.25005 5.5 6.25005C5.5663 6.25005 5.62989 6.27638 5.67678 6.32327C5.72366 6.37015 5.75 6.43374 5.75 6.50005ZM5.75 6.50005H5.5M8.25 6.50005C8.25 6.56635 8.22366 6.62994 8.17678 6.67682C8.12989 6.72371 8.0663 6.75005 8 6.75005C7.9337 6.75005 7.87011 6.72371 7.82322 6.67682C7.77634 6.62994 7.75 6.56635 7.75 6.50005C7.75 6.43374 7.77634 6.37015 7.82322 6.32327C7.87011 6.27638 7.9337 6.25005 8 6.25005C8.0663 6.25005 8.12989 6.27638 8.17678 6.32327C8.22366 6.37015 8.25 6.43374 8.25 6.50005ZM8.25 6.50005H8M10.75 6.50005C10.75 6.56635 10.7237 6.62994 10.6768 6.67682C10.6299 6.72371 10.5663 6.75005 10.5 6.75005C10.4337 6.75005 10.3701 6.72371 10.3232 6.67682C10.2763 6.62994 10.25 6.56635 10.25 6.50005C10.25 6.43374 10.2763 6.37015 10.3232 6.32327C10.3701 6.27638 10.4337 6.25005 10.5 6.25005C10.5663 6.25005 10.6299 6.27638 10.6768 6.32327C10.7237 6.37015 10.75 6.43374 10.75 6.50005ZM10.75 6.50005H10.5M1.5 8.50671C1.5 9.57338 2.24867 10.5027 3.30467 10.658C4.02933 10.7647 4.76133 10.8467 5.5 10.904V14L8.28933 11.2114C8.42744 11.0738 8.61312 10.9946 8.808 10.99C10.1091 10.958 11.407 10.8472 12.6947 10.658C13.7513 10.5027 14.5 9.57405 14.5 8.50605V4.49405C14.5 3.42605 13.7513 2.49738 12.6953 2.34205C11.1406 2.11385 9.57135 1.99955 8 2.00005C6.40533 2.00005 4.83733 2.11671 3.30467 2.34205C2.24867 2.49738 1.5 3.42671 1.5 4.49405V8.50605V8.50671Z" stroke="#3A4980" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      <div class="custom-product-reviews"></div>
    </div>
  </div>

  <script> 
    document.addEventListener('DOMContentLoaded', () => {
      const ratingContainer = document.querySelector('.jdgm-rev-widg__summary-average')?.textContent || "";
      const noOfReviewsContainer = document.querySelector('.jdgm-rev-widg__summary-text')?.textContent || "";
      const reviewRatingContainer = document.querySelector('.review-rating-container');
      const customRating = document.querySelector('.custom-product-rating');
      const customReviews = document.querySelector('.custom-product-reviews');
      if (ratingContainer) {
        const rating = ratingContainer.split(' ')[0] || 0;
        const reviews = noOfReviewsContainer.match(/\d+/g)?.[0] || 0;
  
        customRating.textContent = rating;
        customReviews.textContent = `${reviews} Reviews`;
        reviewRatingContainer.style.display = 'inline-flex';
      }
    })
  </script>
{% endunless %}
