{% assign prefix = "custom-richtext" %}
{%- style -%}
  .section-{{ section.id }} {
    height: auto;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 100px;
    padding-bottom: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
    display: flex;
    {% if section.settings.background_image %}
      background-image: url("{{ section.settings.background_image | image_url }}");
      background-size: cover;
      background-repeat: no-repeat;
    {% else %}
      background: {{ section.settings.background_color }};;
    {% endif %}
    {%  if section.id == 'template--17042679169135__custom_rich_text_Ge3Vy7' %}
      margin-bottom: -80px;
    {%  endif %}
  }
  .section-{{ section.id }} .{{ prefix }}__title {
    max-width: 952px;
  }
  .section-{{ section.id }} .title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
  .section-{{ section.id }} .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  .section-{{ section.id }} .{{ prefix }}__title,
  .section-{{ section.id }} .{{ prefix }}__title * {
    color: {{ section.settings.title_color }};
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-family: "Sofia Pro Regular";
    margin: 0;
    max-width: 650px;
  }
  .section-{{ section.id }} .{{ prefix }}__title strong {
    font-family: "Sofia Pro Bold" !important;
  }
  .section-{{ section.id }} .{{ prefix }}__subtitle,
  .section-{{ section.id }} .{{ prefix }}__subtitle * {
    color: {{ section.settings.subtitle_color }};
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    margin: 0;
    font-family: 'Sofia Pro Medium' !important;
  }
  .section-{{ section.id }} .text-content,
  .section-{{ section.id }} .text-content * {
    color: #3A3BDA;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    font-family: 'Sofia Pro Regular';
  }
  
  .section-{{ section.id }} .text-content strong {
    font-family: 'Nord Medium' !important;
  }
  @media screen and (max-width: 749px) {
    .section-{{ section.id }} {
      padding: 50px 32px;
      gap: 24px;
      margin-bottom: -25px;
    }
    .section-{{ section.id }} .{{ prefix }}__title,
    .section-{{ section.id }} .{{ prefix }}__title * {
      font-size: 24px;
      line-height: 28px;
    }
    .section-{{ section.id }} .{{ prefix }}__subtitle,
    .section-{{ section.id }} .{{ prefix }}__subtitle * {
      color: {{ section.settings.subtitle_color }};
      font-size: 16px;
      line-height: 24px;
    }
    .section-{{ section.id }} .{{ prefix }}__title strong {
      font-family: "Sofia Pro SemiBold" !important;
    }
    .section-{{ section.id }} .text-content,
    .section-{{ section.id }} .text-content * {
      color: #3A3BDA;
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin: 0;
    }
    .section-{{ section.id }} .title-container,
    .section-{{ section.id }} .text-container {
      gap: 16px;
    }
  }
{%- endstyle -%}

<div class="section-{{ section.id }}">
  <div class="title-container">
    <div class="{{ prefix }}__title">
      {{ section.settings.title }}
    </div>
    <div class="{{ prefix }}__subtitle">
      {{ section.settings.subtitle }}
    </div>
  </div>
  {% if section.blocks != blank %}
    <div class="text-container">
      {% for block in section.blocks %}
        <div class="text-content">
          {{ block.settings.text }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>
{% schema %}
{
  "name": "Custom Rich text",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "richtext",
      "id": "title",
      "label": "Title",
      "default": "<h2>Take Revibe 30 minutes before drinking and/or after your last drink.</h2>"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Color",
      "default": "#3A3BDA"
    },
    {
      "type": "richtext",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "<p>Enjoy your nights and power through your days!</p>"
    },
    {
      "type": "color",
      "id": "subtitle_color",
      "label": "Subtitle Color",
      "default": "#3A3BDA"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#2A77D0"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background image",
      "info": "If set, the background color will be overwritten."
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Text",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Defaut text</p>",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Rich text"
    }
  ]
}
{% endschema %}
